/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

body {
  background-image: url("https://cdn3.vectorstock.com/i/1000x1000/70/07/e-commerce-color-icons-on-orange-background-vector-2597007.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navstyle {
  background-color: #bde0fe;

}

.revenuediv {
  background-color: rgb(125, 139, 164);
}